.play-page {
    background-color: #000;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
}

.text {
    color: #fff;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.back-button {
    margin: 1rem;
    width: 5%;
    height: 5%;
}

.title {
    color: #fff;
    margin: 1rem;
}

.ai-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.turned-over {
    height: 8rem;
    width: 5.7rem;
    margin: 1rem;
}

.option-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option {
    margin: 1rem;
}

.stack {
    margin: 0.5rem
}

.hand-history-sidebar {
    position: absolute;
    top: 50%;
    left: 105%; /* just to the right of community cards */
    transform: translateY(-50%);
    width: 260px;
    height: 20rem;
    background: #222;
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    overflow-y: auto;
    z-index: 2;
}