.play-page {
    background-color: #000;
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    min-height: 100vh;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.back-button {
    margin: 1rem;
    width: 5%;
    height: 5%;
}

.title {
    color: #fff;
    margin: 1rem;
}
